@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root{  
    --cor0:hsl(257, 40%, 49%);
    --cor1:hsl(300, 69%, 71%);
}
@media screen and (min-width:1440px) {

    body{
        justify-content: center;
        background: url(../images/bg-desktop.svg) no-repeat;
        background-size: cover;
        background-color: var(--cor0);
    }
    main{
        display: grid;
        grid-template-columns: 795px 580px;
        width: 1375px;
        margin-top: 40px;
    }
    article{
        width: 520px;
        height: 520px;
        text-align: left;
        margin-top: 70px;
        margin-left: 60px;
    }
    article h1{
        font-size: 2.45rem;
    }
    article p{
        font-size: 1rem;
        line-height: 30px;
    }
  
    .logo-png{
        margin-top: 42px;
        margin-left: 80px;
        width: 200px;
    }
    header{
        height: 160px;
    }
    img{
        width: 795px;
    }
    button{
        width: 200px;
        height: 55px;
        margin-top: 40px;
        cursor: pointer;
        box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.37);
    }
    button:hover{
        background-color: var(--cor1);
        color: white;
    }
    .block-social{
        grid-column: 2/3;
        justify-self: end;
    }

}